body {
  background-color: rgb(193, 246, 255);
}

#image {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 920px;
  width: 1520px;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-radius: 10px;
}

#Buttonfoward {
  position: absolute;
  top: 390px;
  left: 1450px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: lavender;
  width: 50px;
  height: 50px;
  font-size: 30px;
  transition-duration: 0.5s;
  opacity: 0;
}

#Buttonfoward:hover {
  box-shadow: -2px 5px 5px rgb(0, 0, 0);
}
#Buttonback {
  position: absolute;
  top: 390px;
  left: 10px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  background-color: lavender;
  width: 50px;
  height: 50px;
  font-size: 30px;
  transition-duration: 0.5s;
  opacity: 0;
  transform: rotate(180deg);
}

#Buttonback:hover {
  box-shadow: -2px -5px 5px rgb(0, 0, 0);
}

.classimg {
  display: block;
  height: 153.5px;
  width: 225px;
  position: relative;
  left: 1560px;
  cursor: pointer;
  transition-duration: 1.5s;
  border: none;
}

.classimg2:first-child {
  border: none;
  border-radius:5px 5px 0px 0px;
}

.classimg2:last-child {
  border: none;
  border-radius: 0px 0px 5px 5px;
}

/*.classimg:hover, .classimg2:hover {
  transition-duration: 1.0s;
  transform: rotate(360deg);
  border-radius: 50%;
}*/
